* {
    margin: 0;
}

.block {
    padding: 10px;
    margin: auto;
    width: 590px;
    height: 480px;
    float: right;
    margin-top: 80px;
    margin-right: 100px;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: left;
    margin-top: 230px;
    margin-left: 150px;
    font-size: 90px;
    color: #44546a;
}

nav {
    float: right;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 150px;
    font-size: 20px;
    margin-top: 25px;
}

a {
    text-decoration: none;
    color: #8496b0;
}

a:hover {
    color: #808080;
}

article {
    background-color: #44546a;
    width: 170px;
    height: 170px;
    margin: 0 10px 10px 0;
    cursor: pointer;
    float: right;
    border-radius: 10px;
    font-size: 33px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

article:hover {
    background-color: #6e88ac;
}


